@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.nav-items-link {
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
}

.nav-items-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #f08559;
  color: #f08559;
}

.a-no-hover:hover {
  text-decoration: none;
}

select,
input,
input::placeholder,
textarea::placeholder {
  font-size: 1rem !important;
  font-family: "Inter", "Baloo Da 2", sans-serif;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1rem !important;
  font-family: "Inter", "Baloo Da 2", sans-serif;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 1rem !important;
  font-family: "Inter", "Baloo Da 2", sans-serif;
}

button {
  font-family: "Inter", "Baloo Da 2", sans-serif;
}

.btn-primary-new {
  background-color: #f08559;
  color: #ffffff;
  border-radius: 2rem;
  min-width: 8rem;
  max-width: 15rem;
}

.full-width {
  width: 90%;
  margin: 0 auto;
}

.abs-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.transitions, .navToggleAnimStart, .nav-items-responsive, header.header nav.nav .hamburger .inner-hamburger .line-rounded, header.header nav.nav .hamburger, .nav-items-link, .nav-items-link:hover, .a-no-hover:hover {
  transition: all 0.3s ease;
}

.border-bottom {
  border-bottom: 1px solid #d8d8d8;
}

.all-border {
  border: 1px solid rgba(165, 165, 165, 0.4);
}

li {
  list-style-type: none;
}

.mastors-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ececec transparent;
}
.mastors-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.mastors-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.mastors-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.mastors-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mastors-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

header.header {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 2px 3px 4px 0 hsla(0, 0%, 0%, 0.25);
  background-color: rgb(241.5, 241.5, 241.5);
  z-index: 5;
}
header.header nav.nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  z-index: inherit;
}
header.header nav.nav .hamburger {
  position: relative !important;
  display: none;
  cursor: pointer;
  top: auto;
  right: auto;
  z-index: inherit;
}
header.header nav.nav .hamburger .inner-hamburger {
  position: relative;
  display: block;
  width: 2rem;
  aspect-ratio: 1;
  z-index: inherit;
}
header.header nav.nav .hamburger .inner-hamburger .line-rounded {
  position: absolute;
  width: 1.4em;
  height: 3px;
  border-radius: 2px;
  background-color: #19182a;
}
header.header nav.nav .hamburger .inner-hamburger .first-line {
  left: -3px;
  transform: rotate(-45deg);
  bottom: 22px;
}
header.header nav.nav .hamburger .inner-hamburger .second-line {
  left: 8px;
  width: 15px;
  bottom: 15px;
  transform: rotate(-45deg);
}
header.header nav.nav .hamburger .inner-hamburger .third-line {
  left: 12px;
  bottom: 8px;
  transform: rotate(-45deg);
}
header.header nav.nav .hamburger .inner-hamburger .first-lined {
  left: -10px !important;
  bottom: 50% !important;
  transform: rotate(90deg);
}
header.header nav.nav .hamburger .inner-hamburger .second-lined {
  left: 2px !important;
  bottom: 50% !important;
  transform: rotate(0) !important;
  width: 20px !important;
}
header.header nav.nav .hamburger .inner-hamburger .third-lined {
  left: 10px !important;
  transform: rotate(90deg) !important;
  bottom: 50% !important;
}
header.header nav.nav .nav-items {
  width: 100%;
}
header.header nav.nav .nav-items .inner-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
header.header nav.nav .logo-centered {
  width: auto;
  display: flex;
  justify-content: flex-start;
}
header.header nav.nav .logo-centered .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 3rem;
}
header.header nav.nav .logo-centered .logo img {
  width: 100%;
}
header.header nav.nav .logo-centered .logo p {
  display: none;
}

.nav-items-responsive {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  min-width: 15rem;
  max-width: 25rem;
  height: 100%;
  background-color: #ffffff;
  z-index: 4;
}

.navToggleAnimStart {
  left: 0 !important;
}

@media screen and (max-width: 720px) {
  header.header nav.nav .hamburger {
    display: block;
  }
  header.header nav.nav .nav-items {
    display: none;
  }
  header.header nav.nav .logo-centered {
    width: 100%;
    justify-content: center;
  }
  header.header nav.nav .logo-centered .logo {
    width: 3rem;
    justify-content: center;
    gap: 1rem;
  }
  header.header nav.nav .logo-centered .logo p {
    display: block;
    text-wrap: nowrap;
    color: #8cb74a;
  }
  header.header nav.nav .logo-centered .logo p b {
    color: #333333;
  }
  .nav-items-responsive {
    display: flex;
  }
  .nav-items-responsive .inner-nav-items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    margin-top: 8rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom: 1px solid #a5a5a5;
  }
  .nav-items-responsive .inner-nav-items div {
    display: flex;
  }
  .nav-items-responsive .inner-nav-items div span {
    margin-left: 10%;
    position: relative;
    padding: 1rem;
  }
  .nav-items-responsive .inner-nav-items i {
    display: block;
  }
}
body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Inter", "Baloo Da 2", sans-serif;
  font-size: 16px;
}

.button {
  background-color: #1a89ff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.button:hover {
  background-color: #0056b3;
}

input,
textarea,
select,
button,
fieldset,
legend,
label,
::placeholder,
::after {
  font-family: "Inter", "Baloo Da 2", sans-serif;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5019607843);
  height: 100vh;
  left: -150%;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.top-bar {
  position: relative;
  height: 3rem;
  background-color: #1c1b2d;
  z-index: 4;
}
.top-bar .inner-topbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  align-items: center;
  margin: 0 auto;
}
.top-bar .inner-topbar .icons {
  position: relative;
  display: flex;
  gap: 1.5rem;
  z-index: 2;
}
.top-bar .inner-topbar .icons .iconLink {
  color: #8cb74a;
  position: relative;
  z-index: 2;
  font-size: 0.875rem;
}
.top-bar .inner-topbar .searchBar {
  position: relative;
  z-index: 2;
}
.top-bar .inner-topbar .searchBar .absolute-box {
  position: absolute;
  right: 0;
  top: 2rem;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  height: 4rem;
  width: 18rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.top-bar .inner-topbar .searchBar .absolute-box #searchText {
  width: 10rem;
}

.branded {
  color: #8cb74a;
}

.rounded {
  position: relative;
  z-index: 0;
}
.rounded::after {
  content: "";
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #8cb74a;
  border-radius: 50%;
  width: 1.8rem;
  aspect-ratio: 1;
  z-index: 5;
}

.head-nav-bar {
  position: sticky;
  top: 0;
  z-index: 3;
}

.cart-icon {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  padding: 0.3rem 0.5rem;
}
.cart-icon .nav-items-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart-icon .cart-counter {
  position: relative;
  margin-left: 1rem;
  border-radius: 50%;
  color: #f5f5f5;
  font-size: 0.8rem;
  z-index: 2;
}
.cart-icon .cart-counter::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a89ff;
  z-index: -1;
}

.cart-icon2 {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  padding: 0 !important;
}

.bordered {
  border-width: 1px;
  border-color: #e0e0e0;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.bordered.dashed {
  border-style: dashed;
}
.bordered.dotted {
  border-style: dotted;
}
.bordered.double {
  border-style: double;
}

.trusted-section {
  width: 100%;
  padding: 2rem 0;
  background-color: #1a89ff;
  color: #ffffff;
}
.trusted-section .inner-trusted-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.trusted-section .inner-trusted-section .leftAside {
  font-size: 1.2rem;
  text-wrap: wrap;
  width: 24rem;
}
.trusted-section .inner-trusted-section .rating {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: center;
  align-items: baseline;
}
.trusted-section .inner-trusted-section .rating h1 {
  font-size: 5rem;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  color: #1a89ff;
}
.trusted-section .inner-trusted-section .rating i {
  color: #fffc39;
}

.shop {
  padding: 2rem 0;
}
.shop .inner-shop {
  margin: 0 auto;
}
.shop .inner-shop h1 {
  text-align: center;
  font-size: 2rem;
}
.shop .inner-shop .products {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.shop .inner-shop .products .product {
  position: relative;
  padding: 1rem;
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  gap: 1rem;
}
.shop .inner-shop .products .product .image {
  position: relative;
  min-width: 15rem;
  max-width: 25rem;
  height: auto;
}
.shop .inner-shop .products .product .image img {
  width: 100%;
  height: auto;
}
.shop .inner-shop .products .product .product-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.shop .inner-shop .products .product .product-info .text-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.shop .inner-shop .products .product .product-info .text-info .product-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3c79d4;
}
.shop .inner-shop .products .product .product-info .text-info .product-name:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.shop .inner-shop .products .product .product-info .text-info .attribute-name {
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 0.2rem 0.8rem;
  width: max-content;
  text-align: center;
  font-size: 0.8rem;
  text-wrap: nowrap;
  transition: 0.2s ease;
}
.shop .inner-shop .products .product .product-info .text-info .attribute-name:hover {
  background-color: #3c79d4;
  color: #fff;
  transition: 0.2s ease;
}
.shop .inner-shop .products .product .product-info .text-info .pricing {
  display: flex;
  text-wrap: nowrap;
  gap: 0.5rem;
}
.shop .inner-shop .products .product .product-info .text-info .pricing p {
  text-decoration: line-through;
}
.shop .inner-shop .products .product .product-info .action-btn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.shop .inner-shop .products .product .product-info .action-btn .cart-btn,
.shop .inner-shop .products .product .product-info .action-btn .order-btn {
  cursor: pointer;
  gap: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.shop .inner-shop .products .product .product-info .action-btn .cart-btn {
  font-size: 1rem;
  background-color: #428bbd;
  color: #def2ff;
}
.shop .inner-shop .products .product .product-info .action-btn .order-btn {
  font-size: 1rem;
  font-weight: 400;
  background-color: #8db647;
  color: #e6ffbb;
}
.shop .inner-shop .products .product .product-info .action-btn .order-btn:focus {
  box-shadow: 0 0px 2px 0 #4e740d;
}

.wrapper {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #ffffff;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #5ed800;
  animation: scale 0.6s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
.loader-spinner {
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fff 94%, rgba(0, 0, 0, 0)) top/4px 4px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #fff);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 4px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.product-display {
  position: relative;
  height: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  z-index: 1;
}
.product-display .inner-product-display {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4rem;
}
.product-display .inner-product-display .slider-container {
  position: relative;
  width: 20rem;
  height: 22rem;
  display: flex;
  justify-content: center;
  z-index: 5;
}
.product-display .inner-product-display .slider-container .slider {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  bottom: 3.5rem;
  width: 16rem;
  aspect-ratio: 1;
  z-index: 5;
  scrollbar-width: none;
}
.product-display .inner-product-display .slider-container .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product-display .inner-product-display .slider-container .blob {
  position: absolute;
  bottom: 0;
  width: 15rem;
  height: auto;
  z-index: 4;
}
.product-display .inner-product-display .slider-container .blob img {
  display: block;
  width: 100%;
  height: 100%;
}
.product-display .inner-product-display .page-product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-start;
}
.product-display .inner-product-display .page-product-info h1 {
  font-size: 2rem;
}
.product-display .inner-product-display .page-product-info .category-name {
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 0.2rem 0.8rem;
  width: max-content;
  text-align: center;
  font-size: 0.8rem;
  text-wrap: nowrap;
  transition: 0.2s ease;
}
.product-display .inner-product-display .page-product-info .category-name:hover {
  background-color: #3c79d4;
  color: #fff;
  transition: 0.2s ease;
}
.product-display .inner-product-display .page-product-info .pricing {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.product-display .inner-product-display .page-product-info .pricing .old-price {
  text-decoration: line-through;
}

.product-details {
  position: relative;
  width: 100%;
  margin: 8rem 0;
}
.product-details::after {
  content: "";
  position: absolute;
  top: 2.6rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.product-details .inner-product-details {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-details .inner-product-details .tabs {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: inherit;
  height: 2.6rem;
  z-index: 4;
}
.product-details .inner-product-details .tabs button {
  font-size: 0.9rem;
  z-index: 2;
}
.product-details .inner-product-details .tabs button.buttons {
  display: flex;
  padding: 0.8rem 1rem;
  background-color: #f1eeee;
  border: 1px solid #ccc;
  border-bottom: transparent;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  cursor: pointer;
  z-index: 2;
}
.product-details .inner-product-details .tabs button.buttons.active {
  position: relative;
  background-color: transparent;
}
.product-details .inner-product-details .tabs button.buttons.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.product-details .inner-product-details .info-container {
  position: relative;
  margin-top: 2rem;
}

.related-products {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem auto;
}
.related-products .product-showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.related-products .product-showcase .image {
  display: block;
  width: 6rem;
  max-height: 12rem;
}
.related-products .product-showcase .image img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.related-products .product-showcase .related-product-info {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.related-products .product-showcase .related-product-info a {
  text-decoration: none;
  color: #333;
}
.related-products .product-showcase .related-product-info a:hover {
  color: #3c79d4;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.related-products .product-showcase .related-product-info .product-name {
  font-size: 1.3rem;
}
.related-products .product-showcase .related-product-info .category {
  font-size: 0.9rem;
}
.related-products .product-showcase .related-product-info .pricing {
  display: flex;
  gap: 0.5rem;
  font-size: 1.1rem;
}
.related-products .product-showcase .related-product-info .pricing .old-price {
  text-decoration: line-through;
}
.related-products .product-showcase .related-product-info .product-attributes {
  position: relative;
  display: flex;
  gap: 0.5rem;
}
.related-products .product-showcase .related-product-info .product-attributes .attribute {
  position: relative;
  display: block;
  padding: 0.5rem;
}
.related-products .product-showcase .related-product-info .product-attributes .attribute .attribute-value {
  padding: 0.5rem;
}

.rectangle {
  width: 4rem;
  aspect-ratio: 1;
  border: 1px solid #ccc;
  cursor: pointer;
}
.rectangle img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.image-zoom-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.slider-image {
  width: 100%;
  height: auto;
  cursor: crosshair;
}

.zoom-container {
  position: absolute;
  top: 0;
  right: -28rem;
  width: 400px;
  aspect-ratio: 1;
  border: 1px solid #ccc;
  overflow: hidden;
  visibility: hidden;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.zoom-view {
  width: 100%;
  height: 100%;
  background-size: 200%;
  background-repeat: no-repeat;
}

.buttons i {
  display: none;
}

@media screen and (max-width: 768px) {
  .product-display .inner-product-display {
    flex-wrap: wrap;
    justify-content: center;
  }
  .zoom-container {
    display: none;
  }
  .buttons i {
    display: block;
  }
  .buttons span {
    display: none;
  }
}
.brand-white {
  color: #f7f7f7;
}

.brand-white-dark {
  color: #ebebeb;
}

footer.footer {
  position: relative;
  width: 100%;
  height: auto;
  color: #f7f7f7;
  background-color: #008a7e;
  margin-top: 6rem;
  z-index: 5;
}
footer.footer .inner-footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  z-index: 4;
}
footer.footer .inner-footer .socials .iconLink i {
  color: #f7f7f7 !important;
  z-index: 5;
}
footer.footer .inner-footer .socials .iconLink i::after {
  border-color: #91fda0;
  transition: all 0.3s ease;
  z-index: -1;
}
footer.footer .inner-footer .socials .iconLink i:hover::after {
  color: #fff;
  background-color: #00490b;
  transition: all 0.3s ease;
}
footer.footer::before {
  content: "";
  position: absolute;
  left: 5%;
  top: -3.2rem;
  background-image: url(/images/footer-leaf.svg);
  background-size: 4rem;
  background-repeat: no-repeat;
  width: 5rem;
  aspect-ratio: 1;
}
footer.footer::after {
  content: "";
  position: absolute;
  right: 5%;
  top: -4rem;
  background-image: url(/images/footer-leaf2.svg);
  background-size: 4rem;
  background-repeat: no-repeat;
  width: 5rem;
  aspect-ratio: 1;
}
footer.footer .footer-aside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer.footer .footer-aside .hr {
  width: 100%;
  border-top: 1px solid #d4d4d4;
  margin-bottom: 1rem;
}
footer.footer a {
  color: #ebebeb;
}
footer.footer a:hover {
  color: #70ff53;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #70ff53;
}
footer.footer .credit {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #00665d;
}

.testimonial-container {
  position: relative;
  padding: 2rem 0;
  margin: 0 auto;
}
.testimonial-container .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.testimonial-container .title .gapped {
  padding: 3rem;
}
.testimonial-container .title .btn.btn-rounded {
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1;
  padding: 0;
}
.testimonial-container .title .btn.btn-rounded i {
  font-size: 1.2rem;
}
.testimonial-container .title .arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.testimonial-container .testimonial-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  padding: 0;
  min-height: 20rem;
  max-height: 25rem;
}
.testimonial-container .testimonial-slider .testimonialX {
  position: absolute;
  top: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1rem;
}
.testimonial-container .testimonial-slider .testimonialX .details {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 2rem;
  flex-direction: column;
}
.testimonial-container .testimonial-slider .testimonialX .details .quote-left,
.testimonial-container .testimonial-slider .testimonialX .details .quote-right {
  position: absolute;
  background-color: #ffffff;
  width: 3rem;
  aspect-ratio: 1;
}
.testimonial-container .testimonial-slider .testimonialX .details .quote-left i,
.testimonial-container .testimonial-slider .testimonialX .details .quote-right i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #888888;
}
.testimonial-container .testimonial-slider .testimonialX .details .i-position {
  top: -1.5rem;
  left: 1.5rem;
}
.testimonial-container .testimonial-slider .testimonialX .details .ib-position {
  bottom: -1.5rem;
  right: 1rem;
}
.testimonial-container .testimonial-slider .testimonialX .details .testimonial {
  position: relative;
  font-size: 1.2rem;
}
.testimonial-container .testimonial-slider .testimonialX .details .customer-info {
  position: relative;
  display: flex;
  padding-top: 1rem;
  margin-bottom: -1rem;
  text-align: center;
  flex-direction: column;
  gap: 0.1rem;
}

.img-round {
  position: relative;
  min-width: 3rem;
  max-width: 6rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.img-round img {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 0.3s ease;
}
.img-round img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.6s ease-in-out, opacity 0.6s;
  position: absolute;
  width: 100%;
}

.slide-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.slide-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.right-enter-active,
.right-leave-active {
  transition: transform 0.6s ease-in-out, opacity 0.6s;
  position: absolute;
  width: 100%;
}

.right-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

@media screen and (max-width: 720px) {
  .testimonial-slider {
    min-height: 35rem !important;
  }
  .testimonialX {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

/*# sourceMappingURL=kehem-e-frontend.css.map */
